p 
{
text-indent: 1.5em;
text-align: justify;
margin-right: 1em;
margin-left: 1em;
margin-top: 0%;
margin-bottom: 0%;
}

div
{
text-align: justify;
text-indent: 1.5em;
margin-right: 1em;
margin-left: 1em;
}

h1
{
text-align: center;
}